## OS X
.DS_Store

##Eclipse IDE
bin/
temp/
.metadata
*.tmp 
.settings/
local.properties

## VS Code IDE
.vscode
.code-workspace

#IntelliJ IDE
.idea
out/

##Netbeans
build/
nbbuild/
dist/
nbproject/

## General files
*.class
*.jar
*.war
*.log
/target/
hs_err_pid*
.project
.classpath
.impl